<!-- <mat-card-actions>
    <button matButton>LIKE</button>
    <button matButton>SHARE</button>
  </mat-card-actions> -->

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Employee List</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let row">{{ row.email }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>
          <td mat-cell *matCellDef="let row">
            <span [class]="row.age > 40 ? 'age-highlight' : ''">
              {{ row.age }}
            </span>
          </td>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
          <td mat-cell *matCellDef="let row">
            @switch (row.department) { @case ('angular') {
            <span class="angular">
              {{ row.department | titlecase }}
            </span>
            } @case ('react') {
            <span class="react">
              {{ row.department | titlecase }}
            </span>
            } @default{
            <span class="node">
              {{ row.department | titlecase }}
            </span>
            } }
          </td>
        </ng-container>

        <!-- Fruit Column -->
        <!-- <ng-container matColumnDef="fruit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fruit</th>
          <td mat-cell *matCellDef="let row">{{ row.fruit }}</td>
          <td mat-cell *matCellDef="let row">{{ row.fruit }}</td>
        </ng-container> -->

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td class="action-btn-row" mat-cell *matCellDef="let row">
            <button mat-icon-button color="accent" (click)="viewRow(row)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="editRow(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteRow(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
